<a href="https://colab.research.google.com/github/wambui-nduta/nduts/blob/main/Data_pre_processing_checkpoint_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Load the dataset, display the ten first lines, store the results in a variable called 'client_0_bills'.
import pandas as pd

df = pd.read_csv("STEG_BILLING_HISTORY.csv")

client_0_bills = df.head(10)

print(client_0_bills)

        client_id invoice_date  tarif_type  counter_number  counter_statue  \
0  train_Client_0   24/03/2014          11       1335667.0             0.0
1  train_Client_0   29/03/2013          11       1335667.0             0.0
2  train_Client_0   23/03/2015          11       1335667.0             0.0
3  train_Client_0   13/07/2015          11       1335667.0             0.0
4  train_Client_0   17/11/2016          11       1335667.0             0.0
5  train_Client_0   17/07/2017          11       1335667.0             0.0
6  train_Client_0   07/12/2018          11       1335667.0             0.0
7  train_Client_0   19/03/2019          11       1335667.0             0.0
8  train_Client_0   22/07/2011          11       1335667.0             0.0
9  train_Client_0   22/11/2011          11       1335667.0             0.0

   counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0         203.0               8.0                  1.0                  82.0
1         203.0               6.0                  1.0                1200.0
2         203.0               8.0                  1.0                 123.0
3         207.0               8.0                  1.0                 102.0
4         207.0               9.0                  1.0                 572.0
5         207.0               9.0                  1.0                 314.0
6         207.0               9.0                  1.0                 541.0
7         207.0               9.0                  1.0                 585.0
8         203.0               9.0                  1.0                1200.0
9         203.0               6.0                  1.0                1082.0

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                   0.0                   0.0                   0.0
1                 184.0                   0.0                   0.0
2                   0.0                   0.0                   0.0
3                   0.0                   0.0                   0.0
4                   0.0                   0.0                   0.0
5                   0.0                   0.0                   0.0
6                   0.0                   0.0                   0.0
7                   0.0                   0.0                   0.0
8                 186.0                   0.0                   0.0
9                   0.0                   0.0                   0.0

   old_index  new_index  months_number counter_type
0    14302.0    14384.0            4.0         ELEC
1    12294.0    13678.0            4.0         ELEC
2    14624.0    14747.0            4.0         ELEC
3    14747.0    14849.0            4.0         ELEC
4    15066.0    15638.0           12.0         ELEC
5    15638.0    15952.0            8.0         ELEC
6    15952.0    16493.0           12.0         ELEC
7    16493.0    17078.0            8.0         ELEC
8     7770.0     9156.0            4.0         ELEC
9     9156.0    10238.0            4.0         ELEC

In [2]:
#What is the data type of the 'client_0_bills' variable ?

print(type(client_0_bills))

<class 'pandas.core.frame.DataFrame'>

In [39]:
# How many rows and columns do we have in this dataset

df.shape

# How many categorical features are present in the dataset

df.columns

# How much memory space does the dataset consume
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147164 entries, 0 to 147163
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             147164 non-null  object
 1   invoice_date          147164 non-null  object
 2   tarif_type            147164 non-null  int64
 3   counter_number        147164 non-null  float64
 4   counter_code          147163 non-null  float64
 5   reading_remarque      147164 non-null  object
 6   counter_coefficient   147163 non-null  float64
 7   consommation_level_1  147163 non-null  float64
 8   consommation_level_2  147163 non-null  float64
 9   consommation_level_3  147163 non-null  float64
 10  consommation_level_4  147163 non-null  float64
 11  old_index             147163 non-null  float64
 12  new_index             147163 non-null  float64
 13  months_number         147163 non-null  float64
 14  counter_type          147163 non-null  object
 15  counter_type_encoded  147164 non-null  int64
dtypes: float64(10), int64(2), object(4)
memory usage: 18.0+ MB

In [4]:
#Inspect the dataset for potential missing values

df.isnull().sum()

client_id                 0
invoice_date              0
tarif_type                0
counter_number            2
counter_statue            1
counter_code              1
reading_remarque        140
counter_coefficient       1
consommation_level_1      1
consommation_level_2      1
consommation_level_3      1
consommation_level_4      1
old_index                 1
new_index                 1
months_number             1
counter_type              1
dtype: int64

In [7]:
#strategy to handle missing values, and tell us why you had made that choice
#For counter_number (11 missing values) since they are numerical values  we will fill with mean for normal distribution and mode for skewed

#minimal distortion in the dataset while retaining valuable records


df["counter_number"] = df["counter_number"].fillna(df["counter_number"].median())

df.isnull().sum()

client_id                 0
invoice_date              0
tarif_type                0
counter_number            0
counter_statue            1
counter_code              1
reading_remarque        140
counter_coefficient       1
consommation_level_1      1
consommation_level_2      1
consommation_level_3      1
consommation_level_4      1
old_index                 1
new_index                 1
months_number             1
counter_type              1
dtype: int64

In [17]:

#df["reading_remarque"].dtype

df["reading_remarque"] = df["reading_remarque"].fillna(df["reading_remarque"].mode()[0])

df.isnull().sum()

client_id               0
invoice_date            0
tarif_type              0
counter_number          0
counter_statue          1
counter_code            1
reading_remarque        0
counter_coefficient     1
consommation_level_1    1
consommation_level_2    1
consommation_level_3    1
consommation_level_4    1
old_index               1
new_index               1
months_number           1
counter_type            1
dtype: int64

In [18]:
#Run a descriptive analysis on numeric features (columns).


print(df.describe())

          tarif_type  counter_number  counter_statue   counter_code  \
count  147164.000000    1.471640e+05   147163.000000  147163.000000
mean       20.177829    9.264243e+10        0.040724     171.781562
std        13.493818    1.390625e+12        0.368680     133.491687
min         9.000000    0.000000e+00        0.000000       5.000000
25%        11.000000    1.197710e+05        0.000000       5.000000
50%        11.000000    5.048400e+05        0.000000     203.000000
75%        40.000000    1.131921e+06        0.000000     207.000000
max        45.000000    2.738110e+13        5.000000     506.000000

       counter_coefficient  consommation_level_1  consommation_level_2  \
count             147163.0         147163.000000         147163.000000
mean                   1.0            405.709356            106.485333
std                    0.0            608.740276            779.230907
min                    1.0              0.000000              0.000000
25%                    1.0             75.000000              0.000000
50%                    1.0            266.000000              0.000000
75%                    1.0            600.000000              0.000000
max                    1.0          93385.000000          99398.000000

       consommation_level_3  consommation_level_4      old_index  \
count         147163.000000         147163.000000  147163.000000
mean              21.707719             42.632632   17326.125324
std              299.731535            619.651225   38928.068024
min                0.000000              0.000000       0.000000
25%                0.000000              0.000000    1730.000000
50%                0.000000              0.000000    7450.000000
75%                0.000000              0.000000   21287.000000
max            45360.000000          87776.000000  867253.000000

           new_index  months_number
count  147163.000000  147163.000000
mean    17902.274763      42.994639
std     39378.503068    1392.339324
min         0.000000       1.000000
25%      2004.000000       4.000000
50%      7958.000000       4.000000
75%     21974.500000       4.000000
max    877022.000000   99104.000000

In [23]:
# Method 1: Using boolean indexing
client_0_bills_method1 = df[df["client_id"] == "train_Client_0"]
#print(client_0_bills_method1)

# Method 2: Using query()
client_0_bills_method2 = df.query("client_id == 'train_Client_0'")
print(client_0_bills_method2)

         client_id invoice_date  tarif_type  counter_number  counter_statue  \
0   train_Client_0   24/03/2014          11       1335667.0             0.0
1   train_Client_0   29/03/2013          11       1335667.0             0.0
2   train_Client_0   23/03/2015          11       1335667.0             0.0
3   train_Client_0   13/07/2015          11       1335667.0             0.0
4   train_Client_0   17/11/2016          11       1335667.0             0.0
5   train_Client_0   17/07/2017          11       1335667.0             0.0
6   train_Client_0   07/12/2018          11       1335667.0             0.0
7   train_Client_0   19/03/2019          11       1335667.0             0.0
8   train_Client_0   22/07/2011          11       1335667.0             0.0
9   train_Client_0   22/11/2011          11       1335667.0             0.0
10  train_Client_0   25/11/2008          11       1335667.0             0.0
11  train_Client_0   23/07/2012          11       1335667.0             0.0
12  train_Client_0   29/11/2012          11       1335667.0             0.0
13  train_Client_0   22/07/2013          11       1335667.0             0.0
14  train_Client_0   18/07/2014          11       1335667.0             0.0
15  train_Client_0   24/11/2014          11       1335667.0             0.0
16  train_Client_0   18/11/2015          11       1335667.0             0.0
17  train_Client_0   27/03/2012          11       1335667.0             0.0
18  train_Client_0   30/03/2011          11       1335667.0             0.0
19  train_Client_0   12/02/2013          11       1335667.0             0.0
20  train_Client_0   22/07/2010          11       1335667.0             0.0
21  train_Client_0   24/11/2010          11       1335667.0             0.0
22  train_Client_0   17/10/2005          11       1335667.0             0.0
23  train_Client_0   24/02/2006          11       1335667.0             0.0
24  train_Client_0   23/06/2006          11       1335667.0             0.0
25  train_Client_0   18/10/2006          11       1335667.0             0.0
26  train_Client_0   27/06/2007          11       1335667.0             0.0
27  train_Client_0   25/10/2007          11       1335667.0             0.0
28  train_Client_0   26/02/2007          11       1335667.0             0.0
29  train_Client_0   28/07/2008          11       1335667.0             0.0
30  train_Client_0   04/01/2009          11       1335667.0             0.0
31  train_Client_0   27/07/2009          11       1335667.0             0.0
32  train_Client_0   24/11/2009          11       1335667.0             0.0
33  train_Client_0   29/03/2010          11       1335667.0             0.0
34  train_Client_0   04/01/2008          11       1335667.0             0.0

    counter_code reading_remarque  counter_coefficient  consommation_level_1  \
0          203.0              8.0                  1.0                  82.0
1          203.0              6.0                  1.0                1200.0
2          203.0              8.0                  1.0                 123.0
3          207.0              8.0                  1.0                 102.0
4          207.0              9.0                  1.0                 572.0
5          207.0              9.0                  1.0                 314.0
6          207.0              9.0                  1.0                 541.0
7          207.0              9.0                  1.0                 585.0
8          203.0              9.0                  1.0                1200.0
9          203.0              6.0                  1.0                1082.0
10         203.0              6.0                  1.0                 174.0
11         203.0              6.0                  1.0                 628.0
12         203.0              6.0                  1.0                 886.0
13         203.0              8.0                  1.0                 147.0
14         203.0              8.0                  1.0                  99.0
15         203.0              8.0                  1.0                 141.0
16         207.0              9.0                  1.0                 217.0
17         203.0              8.0                  1.0                 292.0
18         203.0              6.0                  1.0                 497.0
19         203.0              8.0                  1.0                  38.0
20         203.0              6.0                  1.0                 278.0
21         203.0              6.0                  1.0                 234.0
22         203.0              6.0                  1.0                 124.0
23         203.0              6.0                  1.0                 141.0
24         203.0              6.0                  1.0                 162.0
25         203.0              6.0                  1.0                 159.0
26         203.0              6.0                  1.0                 240.0
27         203.0              6.0                  1.0                 276.0
28         203.0              6.0                  1.0                 182.0
29         203.0              6.0                  1.0                 171.0
30         203.0              6.0                  1.0                 315.0
31         203.0              6.0                  1.0                 312.0
32         203.0              6.0                  1.0                 267.0
33         203.0              6.0                  1.0                 276.0
34         203.0              6.0                  1.0                 277.0

    consommation_level_2  consommation_level_3  consommation_level_4  \
0                    0.0                   0.0                   0.0
1                  184.0                   0.0                   0.0
2                    0.0                   0.0                   0.0
3                    0.0                   0.0                   0.0
4                    0.0                   0.0                   0.0
5                    0.0                   0.0                   0.0
6                    0.0                   0.0                   0.0
7                    0.0                   0.0                   0.0
8                  186.0                   0.0                   0.0
9                    0.0                   0.0                   0.0
10                   0.0                   0.0                   0.0
11                   0.0                   0.0                   0.0
12                   0.0                   0.0                   0.0
13                   0.0                   0.0                   0.0
14                   0.0                   0.0                   0.0
15                   0.0                   0.0                   0.0
16                   0.0                   0.0                   0.0
17                   0.0                   0.0                   0.0
18                   0.0                   0.0                   0.0
19                   0.0                   0.0                   0.0
20                   0.0                   0.0                   0.0
21                   0.0                   0.0                   0.0
22                   0.0                   0.0                   0.0
23                   0.0                   0.0                   0.0
24                   0.0                   0.0                   0.0
25                   0.0                   0.0                   0.0
26                   0.0                   0.0                   0.0
27                   0.0                   0.0                   0.0
28                   0.0                   0.0                   0.0
29                   0.0                   0.0                   0.0
30                   0.0                   0.0                   0.0
31                   0.0                   0.0                   0.0
32                   0.0                   0.0                   0.0
33                   0.0                   0.0                   0.0
34                   0.0                   0.0                   0.0

    old_index  new_index  months_number counter_type
0     14302.0    14384.0            4.0         ELEC
1     12294.0    13678.0            4.0         ELEC
2     14624.0    14747.0            4.0         ELEC
3     14747.0    14849.0            4.0         ELEC
4     15066.0    15638.0           12.0         ELEC
5     15638.0    15952.0            8.0         ELEC
6     15952.0    16493.0           12.0         ELEC
7     16493.0    17078.0            8.0         ELEC
8      7770.0     9156.0            4.0         ELEC
9      9156.0    10238.0            4.0         ELEC
10     5417.0     5591.0            4.0         ELEC
11    10780.0    11408.0            4.0         ELEC
12    11408.0    12294.0            4.0         ELEC
13    13983.0    14130.0            4.0         ELEC
14    14384.0    14483.0            4.0         ELEC
15    14483.0    14624.0            4.0         ELEC
16    14849.0    15066.0            4.0         ELEC
17    10488.0    10780.0            4.0         ELEC
18     7273.0     7770.0            4.0         ELEC
19    14264.0    14302.0            2.0         ELEC
20     6761.0     7039.0            4.0         ELEC
21     7039.0     7273.0            4.0         ELEC
22     3685.0     3809.0            4.0         ELEC
23     3809.0     3950.0            4.0         ELEC
24     3950.0     4112.0            4.0         ELEC
25     4112.0     4271.0            4.0         ELEC
26     4453.0     4693.0            4.0         ELEC
27     4693.0     4969.0            4.0         ELEC
28     4271.0     4453.0            4.0         ELEC
29     5246.0     5417.0            4.0         ELEC
30     5591.0     5906.0            4.0         ELEC
31     5906.0     6218.0            4.0         ELEC
32     6218.0     6485.0            4.0         ELEC
33     6485.0     6761.0            4.0         ELEC
34     4969.0     5246.0            4.0         ELEC

In [29]:
#Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df["counter_type_encoded"] = encoder.fit_transform(df["counter_type"])
print(df[["counter_type", "counter_type_encoded"]])

       counter_type  counter_type_encoded
0              ELEC                     0
1              ELEC                     0
2              ELEC                     0
3              ELEC                     0
4              ELEC                     0
...             ...                   ...
147159         ELEC                     0
147160         ELEC                     0
147161         ELEC                     0
147162         ELEC                     0
147163          NaN                     2

[147164 rows x 2 columns]

In [41]:
print(df.columns.tolist())  # List all column names

['client_id', 'invoice_date', 'tarif_type', 'counter_number', 'counter_code', 'reading_remarque', 'counter_coefficient', 'consommation_level_1', 'consommation_level_2', 'consommation_level_3', 'consommation_level_4', 'old_index', 'new_index', 'months_number', 'counter_type', 'counter_type_encoded']

In [42]:


#Delete the 'counter_statue' feature from the Dataframe
#i deleted counter _type
#counter_code



df.drop(columns=["counter_code"], inplace=True, errors="ignore")
print(df.columns)

Index(['client_id', 'invoice_date', 'tarif_type', 'counter_number',
       'reading_remarque', 'counter_coefficient', 'consommation_level_1',
       'consommation_level_2', 'consommation_level_3', 'consommation_level_4',
       'old_index', 'new_index', 'months_number', 'counter_type',
       'counter_type_encoded'],
      dtype='object')

In [43]:
df.drop(columns=["counter_type"], inplace=True, errors="ignore")
print(df.columns)

Index(['client_id', 'invoice_date', 'tarif_type', 'counter_number',
       'reading_remarque', 'counter_coefficient', 'consommation_level_1',
       'consommation_level_2', 'consommation_level_3', 'consommation_level_4',
       'old_index', 'new_index', 'months_number', 'counter_type_encoded'],
      dtype='object')