<a href="https://colab.research.google.com/github/wambui-nduta/nduts/blob/main/Dataframe_Filtering_and_Selection_using_iloc_and_loc_check_point.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
# data frame
data = {
    'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
    'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
    'Age': [30, 40, 25, 35, 45, 28],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
    'Experience': [3, 7, 2, 5, 10, 4]
}

employee_df = pd.DataFrame(data)
print(employee_df)

# question 1
#Use the iloc method to select the first 3 rows of the dataframe.
first_three_rows = employee_df.iloc[:3]
print("First 3 rows:\n", first_three_rows)

# question 2
#Use the loc method to select all rows where the Department is "Marketing"
marketing_employees = employee_df.loc[employee_df['Department'] == 'Marketing']
print("\nEmployees in Marketing Department:\n", marketing_employees)

# question 3
#Use the iloc method to select the Age and Gender columns for
# the first 4 rows of the dataframe.
age_gender_first_four = employee_df.iloc[:4, [2, 3]]
print("\nAge and Gender of first 4 rows:\n", age_gender_first_four)

# 4. question
#Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".
male_salary_experience = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']]
print("\nSalary and Experience of Male employees:\n", male_salary_experience)

    Name Department  Age  Gender  Salary  Experience
0   John         IT   30    Male   50000           3
1   Mary  Marketing   40  Female   60000           7
2    Bob      Sales   25    Male   45000           2
3  Sarah         IT   35  Female   55000           5
4    Tom    Finance   45    Male   70000          10
5   Lisa  Marketing   28  Female   55000           4
First 3 rows:
    Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

Employees in Marketing Department:
    Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

Age and Gender of first 4 rows:
    Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

Salary and Experience of Male employees:
    Salary  Experience
0   50000           3
2   45000           2
4   70000          10