<a href="https://colab.research.google.com/github/wambui-nduta/nduts/blob/main/pandas_practice_strings_to_series_own.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#!pip install pandas
import pandas as pd
products  =['apple ','orange', 'mango','daikon','kiwi']
#creating series from list

product_series = pd.Series(products)
print(product_series)

0    apple
1    orange
2     mango
3    daikon
4      kiwi
dtype: object

In [11]:
#creating a series with prices

prices = [10, 50, 30, 15, 50]
price_series = pd.Series(prices)
#print(price_series)


#covert price to int or float
price_series = price_series.astype(float)
print(price_series)

#or

price_series = pd.Series(prices, dtype=int)
#print(price_series)

0    10.0
1    50.0
2    30.0
3    15.0
4    50.0
dtype: float64

In [13]:
#create a data frame ..store them together its calls
df = pd.DataFrame({'products': products, 'prices': prices})
#print(df)

  products  prices
0   apple       10
1   orange      50
2    mango      30
3   daikon      15
4     kiwi      50

In [15]:
#create single series ,each items combines product and price text

combined_series = product_series + ' $' + price_series.astype(str)
#print(combined_series)

0    apple  $10
1    orange $50
2     mango $30
3    daikon $15
4      kiwi $50
dtype: object