<a href="https://colab.research.google.com/github/wambui-nduta/nduts/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sample_list=[2,3,6]
result =[2*3*6]
print(result)

[36]

In [ ]:
#question 2

In [ ]:
numbers = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1),(4,6),(3,2),(2,3)]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[(1, 2), (2, 1), (2, 3), (2, 3), (2, 5), (3, 2), (4, 4), (4, 6)]

In [ ]:


# Question 3
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
result = {k: d1.get(k, 0) + d2.get(k, 0) for k in d1 | d2}
print(result)

# Question 4
n = 8
result = {i: i * i for i in range(1, n + 1)}
print(result)

# Question 5
list_ = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sorted_list = sorted(list_, key=lambda x: float(x[1]), reverse=True)
print(sorted_list)

# Question 6
my_set = {0, 1, 2, 3, 4}
print(my_set)

for i in my_set:
    print(i)

my_set.add(5)
print(my_set)

my_set.remove(2)
print(my_set)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]
{0, 1, 2, 3, 4}
0
1
2
3
4
{0, 1, 2, 3, 4, 5}
{0, 1, 3, 4, 5}

In [ ]:
list=(1,2,4,5,6)
def multiply_list(items):

SyntaxError: incomplete input (<ipython-input-1-d5cdf17e3d34>, line 3)

In [ ]:
def days_in_a_month(month, year):
    if month in (1, 3, 5, 7, 8, 10, 12):
        return 31
    elif month in (4,6,9,11):
        return 30
    elif month == 2 :
     if (year % 4 == 0 and year % 100 != 0 or year % 400 == 0):
        return 29
    else :
        return "invalid month"
    print(days_in_a_month(2,2022))

In [ ]:








for while

In [ ]:
num = int (user_input)